.modal-window {
  display: none;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #00000082;
  color: white;
  padding: 5px;
  /* border: 1px solid #5a5a5a; */
  box-shadow: 2px 2px 2px #5a5a5a78;

  h4 {
    color: rgb(208, 208, 208);
  }
}